<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username" required>

    <label for="password"> Password</label>
    <input type="password" placeholder="password" name="psw" required>

    <button type="submit">Login</button>
    </form>
</body>
</html>